{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI Plant Store",
    "description": "A sample API that uses a plant store as an example to demonstrate features in the OpenAPI specification",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://cgk-api.crmclick.io"
    }
  ],
  "paths": {
    "/plants": {
      "get": {
        "description": "Returns all plants from the system that the user has access to",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of results to return",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Plant response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Plant"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Creates a new plant in the store",
        "requestBody": {
          "description": "Plant to add to the store",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewPlant"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "plant response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Plant"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/plants/{id}": {
      "delete": {
        "description": "Deletes a single plant based on the ID supplied",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of plant to delete",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Plant deleted",
            "content": {}
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/spot/tickers": {
      "get": {
        "description": "Returns the latest tickers for all supported pairs",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Spot tickers response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiSpot"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/spot/orderbook": {
      "get": {
        "description": "Returns the current order book of a specific pair.",
        "parameters": [
          {
            "name": "ticker_id",
            "in": "query",
            "required": true,
            "description": "The trading symbol of this object, e.g. BTC_USDT, ETH_USDT",
            "schema": {
              "type": "string",
              "default": "BTC_USDT"
            }
          },
          {
            "name": "depth",
            "in": "query",
            "required": true,
            "description": "The maximum number of results to return",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Spot order book response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "ticker_id",
                    "bids",
                    "asks"
                  ],
                  "type": "object",
                  "properties": {
                    "ticker_id": {
                      "description": "The trading symbol of this object, e.g. BTC_USDT, ETH_USDT",
                      "type": "string"
                    },
                    "timestamp": {
                      "description": "Timestamp",
                      "type": "number"
                    },
                    "bids": {
                      "description": "The current all bids in format [price, size]",
                      "type": "array"
                    },
                    "asks": {
                      "description": "The current all asks in format [price, size]",
                      "type": "array"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/spot/historical": {
      "get": {
        "description": "Returns the latest trade with its price, volume, and direction.",
        "parameters": [
          {
            "name": "ticker_id",
            "in": "query",
            "required": true,
            "description": "The trading symbol of this object, e.g. BTC_USDT, ETH_USDT",
            "schema": {
              "type": "string",
              "default": "BTC_USDT"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": true,
            "description": "The maximum number of results to return",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Spot trade historical response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "required": [
                      "trade_id",
                      "ticker_id"
                    ],
                    "type": "object",
                    "properties": {
                      "ticker_id": {
                        "description": "The trading symbol of this object, e.g. BTC_USDT, ETH_USDT",
                        "type": "string"
                      },
                      "trade_id": {
                        "description": "Trade id",
                        "type": "number"
                      },
                      "price": {
                        "description": "Trade price",
                        "type": "number"
                      },
                      "type": {
                        "description": "Trade direction",
                        "type": "number"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/perpetual/contracts": {
      "get": {
        "description": "Returns the latest tickers for all supported pairs",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Perpetual tickers response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiSpot"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/perpetual/orderbook": {
      "get": {
        "description": "Returns the current order book of a specific pair.",
        "parameters": [
          {
            "name": "ticker_id",
            "in": "query",
            "required": true,
            "description": "The trading symbol of this object, e.g. BTC_USDT, ETH_USDT",
            "schema": {
              "type": "string",
              "default": "BTC_USDT"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Perpetual order book response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "ticker_id",
                    "bids",
                    "asks"
                  ],
                  "type": "object",
                  "properties": {
                    "ticker_id": {
                      "description": "The trading symbol of this object, e.g. BTC_USDT, ETH_USDT",
                      "type": "string"
                    },
                    "timestamp": {
                      "description": "Timestamp",
                      "type": "number"
                    },
                    "bids": {
                      "description": "The current all bids in format [price, size]",
                      "type": "array"
                    },
                    "asks": {
                      "description": "The current all asks in format [price, size]",
                      "type": "array"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Plant": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "description": "The name of the plant",
            "type": "string"
          },
          "tag": {
            "description": "Tag to specify the type",
            "type": "string"
          }
        }
      },
      "NewPlant": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Plant"
          },
          {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "description": "Identification number of the plant",
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ]
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "ApiSpot": {
        "required": [
          "ticker_id"
        ],
        "type": "object",
        "properties": {
          "ticker_id": {
            "description": "The trading symbol of this object, e.g. BTC_USDT, ETH_USDT",
            "type": "string"
          },
          "last_price": {
            "description": "The latest price",
            "type": "number"
          }
        }
      },
      "ApiError": {
        "required": [
          "error"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}